.Login-form{
  padding: 0% 35%;
  display: flex;
  height: 80dvh;
  width: 100%;
  justify-content: space-around;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: stretch;
}

.Vertical-center{
  padding: 5%
}